
   
        <input type="text" class="form-group w-30 mt-2 text-red-600 border-2 border-blue-600 rounded-md " placeholder="Username" aria-label="Username" >
        <button class="btn btn-primary mt-4 ml-6 w-64 h-10 text-rose-400">Hey! Satish, I am Bootstrap</button>
        <button mat-raised-button color="accent" class="text-rose-400 mt-4 ml-6 w-64 h-56">Hey! Satish, I am Material</button>
        <button class="text-white bg-pink-800 mt-4 ml-6 w-64 h-10 rounded-lg hover:bg-green-800 hover:text-whhi
        ">Hey! Satish, I am TailwindCSS</button>
     


